---
layout: default
---
{%- include header.html -%}
<!-- Main -->
<div id="main">
	<!-- Post -->
	<article class="shade-two">
	  <div class="container">
			<header>
				<h2>{{- page.title -}}</h2>
				<p>{% if page.author %}{{ page.author }}, {% endif %}{{- page.date | date_to_long_string -}}</p>
				<p><a href="https://twitter.com/chatzinikolis?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @chatzinikolis</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
			</header>
	    {{- content -}}
	  </div>
	</article>
</div>